@media (min-width: 700px) {
    .title-box {
        position: absolute;
        width: 625px;
        height: 73px;
        top: 150px;
        left: 328px;
        gap: 30px;
        color: rgba(42, 54, 71, 1);
        display: flex;
        align-items: center;
    }
    
    .add-task-header {
        position: absolute;
        top: 206px;
        left: 328px;
        width: 278px;
        height: 73px;
        font-family: 'Inter';
        font-weight: 700;
        }
        
        .main-add-task-left {
            position: absolute;
            top: 327px;
            left: 328px;
            width: 440px;
            height: 376px;
        }
        
        .task-seperator {
            width: 0;
            height: 424px;
            position: absolute;
            top: 174px;
            left: 562.25px;
            border: 1px solid rgb(249, 249, 249);
            rotate: -0;
        }
        
        .main-add-task-right {
            position: absolute;
            top: 327px;
            left: 864.25px;
            width: 440px;
            height: 416px;
        }
        
        .add-task-input-group {
            display: flex;
            flex-direction: column;
        }
        
        .title-input {
            padding: 12px 21px;
            border: 1px solid #D1D1D1;
            margin-bottom: 28px;
            outline: none;
            border-radius: 10px;
        }
        
        .title-input::placeholder {
            display: flex;
            align-items: start;
            top: 0;
            left: 0;
            padding: 18px 16px;
            color: #ccc;
        
        }
        
        .add-task-description {
            position: absolute;
            top: 112px;
        }
        
        .description-input {
            padding: 18px 16px;
            height: 120px;
            outline: none;
            border: 1px solid #D1D1D1;
            border-radius: 10px;
            margin-bottom: 28px;
            resize: none;
            background-image: url(assets/img/resize.png);
            background-repeat: no-repeat;
            background-position: right 4px bottom 4px;
        }
        
        .description-input::placeholder {
            display: flex;
            align-items: start;
            top: 0;
            left: 0;
            padding: 18px 16px;
            color: #ccc;
        }
        
        .add-task-assigned{
            position: absolute;
            top: 310px;
        }
        .assigned-to {
            padding: 12px 26px 12px 16px;
            border: 1px solid #D1D1D1;
            border-radius: 10px;
            margin-bottom: 32px;
            z-index: 1;
            width: 440px;
            -webkit-appearance: none;
            background-image: url("assets/img/arrow_drop_down.png");
            background-position: calc(100% - 10px) center;
            background-repeat: no-repeat;
        }
        
        .assigned-to::-webkit-select-arrow {
            display: none;
        }
        
        
        .add-task-prio {
            position: absolute;
            top: 120px;
        }
        
        .add-task-prio-push-up {
            position: absolute;
            top: 161px;
        }
        
        .due-date {
            border: 1px solid #D1D1D1;
            padding: 12px 16px;
            outline: none;
            height: 24px;
            margin-bottom: 24px;
            cursor: pointer;
            border-radius: 10px;
        }
        
        .priority-buttons {
            border-radius: 10px;
            display: flex;
            align-items: center;
        }

        .priority-buttons img {
            height: 14,51px;
            width: 20px;
        }
        
        .priority-left {
            gap: 8px;
            padding: 10px 16px;
            width: 136px;
            cursor: pointer;
            border-radius: 10px;
            height: 56px;
            font-size: 20px;
            font-weight: 400;
        }
        
        .priority-middle {
            gap: 8px;
            padding: 10px 16px;
            width: 136px;
            cursor: pointer;
            border-radius: 10px;
            height: 56px;
            margin-left: 19px;
            font-size: 20px;
            font-weight: 400;
        }
        
        .priority-right {
            gap: 8px;
            padding: 10px 16px;
            width: 136px;
            cursor: pointer;
            border-radius: 10px;
            height: 56px;
            margin-left: 19px;
            font-size: 20px;
            font-weight: 400;
        }
        
        .add-task-category {
            position: absolute;
            top: 232px;
        }
        
        .category-input {
            padding: 12px 26px 12px 16px;
            border: 1px solid #D1D1D1;
            margin-bottom: 32px;
            z-index: 1;
            width: 440px;
            border-radius: 10px;
            -webkit-appearance: none;
            background-image: url("assets/img/arrow_drop_down.png");
            background-position: calc(100% - 10px) center;
            background-repeat: no-repeat;
        }
        
        .category-input::-webkit-select-arrow {
            display: none;
        }
        
        .subtask-field {
            width: 440px;
            height: 48px;
            border: 1px solid rgba(209, 209, 209, 1);
            border-radius: 10px;
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 1);
            padding-left: 5px;
            padding-right: 10px;
        }
        
        .subtask-input {
            border: none;
            flex: 1;
            color: rgba(209, 209, 209, 1);
        }
        
        .subtask-field img {
            margin-left: 10px;
            align-self: center;
        }
        
        .add-task-footer-btn {
            height: 56px;
            width: 334px;
            position: absolute;
            display: flex;
            top: 889px;
            left: 995.25px;
        }
        
        .add-task-cancle-btn {
            width: 126px;
            height: 56px;
            border-radius: 10px;
            border: 1px solid #D1D1D1;
            margin-right: 18px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        
        .add-task-cancle-btn:hover {
            cursor: pointer;
            background-color: #9e9e9e;
        }
        
        .add-task-create-btn {
            width: 183px;
            height: 56px;
            border-radius: 10px;
            border: 1px solid #D1D1D1;
            background-color: rgba(42, 54, 71, 1);
            color: #f0f0f0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        
        .add-task-create-btn:hover {
            cursor: pointer;
            background-color: rgb(66, 87, 116);
        }
        
        .required-img {
            position: absolute;
            left: 328px;
            top: 926px;
            width: 170px;
            height: 27px;
        }
        
        .add-task-subtask {
            position: absolute;
            top: 336px;
        }
        
        .add-task-subtitles {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 5px;
        }

        .star {
            color: red;
        }
        
        
        
        .no-tasks-to-do {
            width: 246px;
            height: 48px;
            border: 1px dashed rgba(168, 168, 168, 1);
            border-radius: 10px;
            color: rgba(168, 168, 168, 1);
            background-color: rgba(231, 231, 231, 1);
            display: flex;
            justify-content: center;
            align-items: center;
        }
}