.content {
    height: auto;
    height: calc(100% - 96px);
    width: calc(100% - 280px);
    margin-left: 255px;
  }

.board {
    display: flex;
    max-width: 1200px;
}

.column {
    width: 25%;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.column h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

}

.draggable {
    padding: 16px;
    margin: 10px 0;
    background-color: white;
    border-radius: 24px;
    cursor: move;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    gap: 10px;
}
.draggable:hover{
    scale: 1.03;
}

.draggable.dragging {
    opacity: 0.5;
}

.placeholder {
    background-color: #f7f7f7;
    border: 2px dashed #ccc;
    margin: 10px 0;
    height: 50px;
    border-radius: 10px;
}
.no-task {
    background-color: #f7f7f7;
    color: #999;
    text-align: center;
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    margin: 10px 0;
    font-style: italic;
}



.task-lable{
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 16px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
}
.task-lable p{
    margin: 0;
}
.task-title{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.task-description{
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    margin: 0;
}
.subtasks{
    display: flex;
    align-items: center;
}
.subtasks-processbar {
    width: 100%; /* Setze die Breite auf 100% oder passe sie nach Bedarf an */
    background-color: #F4F4F4; /* Hintergrundfarbe */
    border-radius: 8px; /* Abgerundete Ecken */
    height: 16px; /* Höhe der Leiste */
    position: relative; /* Ermöglicht das Positionieren des Fillers innerhalb der Leiste */
    overflow: hidden; /* Verhindert, dass der Filler über die Leiste hinausragt */
}

.subtasks-processbar .filler {
    background-color: #4589FF; /* Fillerfarbe */
    height: 100%; /* Füllt die Höhe der Leiste aus */
    border-radius: 8px; /* Gleicher Radius für die Filler-Ecken */
    width: 0%; /* Initiale Breite des Fillers, passt sich dynamisch an */
    transition: width 0.3s ease-in-out; /* Sanfter Übergang für das Auffüllen */
}
.subtask-number{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
    white-space: nowrap;

}
.user-badges{
    display: flex;
    align-items: center;
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #FFFFFF; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF; 
    font-size: 12px;
    font-weight: 400;
    position: relative;
    margin-left: -8px; 
}

.circle:nth-child(1) {
    background-color: #FF5733; /* Beispiel: Orange */
}

.circle:nth-child(2) {
    background-color: #33FF57; /* Beispiel: Grün */
}

.circle:nth-child(3) {
    background-color: #3357FF; /* Beispiel: Blau */
}

.circle:first-child {
    margin-left: 0; /* Kein Überlappen beim ersten Element */
}
.task-bottom-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 48px 40px;
    width: 80%;
    max-width: 500px;
    border-radius: 30px;
    box-shadow: 0 0 4px0 rgba(0, 0, 0, 0.16);
    gap: 24px;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-task-title{
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
    margin: 0;
}
.modal-task-description{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
}
.assigned{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.assigned p{
    margin: 0;
}
.assigned-user{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}
.modal-subtasks{
    display: flex;
    flex-direction: column;

}

.modal-buttons{
    display: flex;
    justify-content: end;
}
.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-actions button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#deleteTaskButton {
    background-color: red;
    color: white;
}

#editTaskButton {
    background-color: green;
    color: white;
}

