
.content{
    padding: 0 32px;
    margin-bottom: 80px;
    height: 80vh;
    overflow: scroll;
}
.contact-list{
    gap: 8px;
    border: 0;
}
.contact-list-letter-item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.contact-list-letter{
    padding: 17px 36px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
}
.contact-list-item{
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 15px 24px;
}
.contact-list-initials{
    border-radius: 50px;
    height: 42px;
    width: 42px;
    background-color: #FF7A00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: white;
}
/* .contact-list-contact{

} */
.contact-list-contact-name{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.contact-list-contact-email{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #007CEE;
}

.contact-add-btn{
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 16px;
    bottom: 100px;
    cursor: pointer;
}
.contact-add-btn-icon{
    height: 56px;
}
.contact-add-btn:active{
    scale: 0.95;
}

.modal-add{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.2);
}
.add-contact-window{
    background-color: white;
    height: 750px;
    max-height: 750px;
    width: 90%;
    border-radius: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.content-head{
    gap: 30px;
    background-color: #2A3647;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 66px;
    border-radius: 30px 30px 0 0;
    height: 30%;
}
.content-head-header{
    display: flex;
    justify-content: end;
    padding-bottom: 46px;
}
.content-head-header-close{
    cursor: pointer;
}
.content-head-header-close:active{
    scale: 0.95;
}
.content-title{
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    margin: 0;
    color: white;
}
.devider{
    border-bottom: 3px solid #29ABE2;
    border-radius: 1px;
    width: 90px;
    margin-top: 16px;
}
.content-subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: white;
}
.contact-placeholder{
    display: flex;
    justify-content: center;
}
.contact-placeholder-icon{
    height: 120px;
    margin-top: 60px;
}

.contact-form{
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contact-input-field{
    height: 41px;
    width: 330px;
    padding: 0 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-position: right; 
    background-position-x: 324px;
    background-repeat: no-repeat;
    outline: none;
    line-height: 24px;
    font-size: 20px;
}
.contact-input-field:nth-child(1){
    background-image: url('/assets/img/icons/person.png');
    background-size: 24px;
}
.contact-input-field:nth-child(2){
    background-image: url('/assets/img/icons/mail.png');
    background-size: 24px;
}
.contact-input-field:nth-child(3){
    background-image: url('/assets/img/icons/call.png');
    background-size: 24px;
}
::placeholder{
    font-size: 20px;

    font-weight: 400;
    color: #D1D1D1;
}
.contact-input-field:focus{
    border: 1px solid var(--akzent);
}
.add-contact-btn{
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    padding: 10px 10px;
    gap: 4px;
}
.add-contact-btn-icon{
    height: 24px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 87px;
    bottom: 85px;
    right: 0;
    background-color: rgb(247, 247, 247);
    padding: 16px;
}

.modal-content {
    width: 100%;
    margin-top: 32px;
}
.modal-header{
    display: flex;
    flex-direction: column;
}
.modal-header-close{
    display: flex;
    justify-content: end;
}
.modal-header-close-icon{
    height: 32px;
    width: 32px;
}
.modal-title{
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    margin: 0;
}
.modal-subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.contact-modal-name-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-modal-name{
    font-size: 32px;
    font-weight: 700;
}
.initials-container{
    border: 3px solid white;
    height: 80px;
    width: 80px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #29ABE2;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 27px;
    font-weight: 400;
}

.contact-modal-subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}
.contact-category{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;

}
.contact-email{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #007CEE;
}
.contact-phone{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.d-none {
    display: none;
}
