:root {
    --akzent: #29ABE2;
    --dark: #2A3647;
    --activeDark: #091931;
    --greytext: #CDCDCD;
  }

body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #F6F7F8;
}

.button{
    background-color: #2a3647 ;
    color: white;
    border-radius: 8px;
    padding: 15px 16px;
    border: 0;
    width: 91px;
    height: 49px;
    font-size: 16px;
    font-weight: 400;
}
button:hover{
    cursor: pointer;
}
.w-25{
    width: 25%;
}
.w-75{
    width: 75%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px;
}
.header-signup{
    display: none;
    align-items: center;
    gap: 35px;
}
.content{
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 180px;
    left: 0;
    right: 0;
}
.login-window{
    padding: 32px 16px;
    border-radius: 30px;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #ffffff;
}
.login-window-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-window-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.login-window-title{
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    text-align: center;
    margin: 0;
}
.underline{
    margin: 24px;
    border-top: 3px solid var(--akzent);
    width: 80%;
}


form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
form a{
    color: var(--akzent);
    text-decoration: none;
}
form a:hover{
    font-weight: 700;
}
.login-input-field{
    height: 48px;
    width: 330px;
    padding: 0 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-position: right; 
    background-position-x: 324px;
    background-repeat: no-repeat;
    outline: none;
    line-height: 48px;
    font-size: 20px;
}
.login-input-field:nth-child(1){
    background-image: url('/assets/img/icons/mail.png');
}
.login-input-field:nth-child(2){
    background-image: url('/assets/img/icons/lock.png');
}
::placeholder{
    font-size: 20px;

    font-weight: 400;
    color: #D1D1D1;
}
.login-input-field:focus{
    border: 1px solid var(--akzent);
}
.login-window-checkbox{
    display: flex;
    align-items: center;
    gap: 4px;
}
.login-form-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form-button{
    width: 180px;
    height: 51px;
    border-radius: 8px;
    border: 0;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
}
.login-form-button:nth-child(1){
    color: #ffffff;
    background-color: var(--dark);
    margin-bottom: 21px;
}
.login-form-button:nth-child(2){
    color: var(--dark);
    background-color: transparent;
    border: 1px solid var(--dark);
}

.footer-signup{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-signup p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.footer-links{
    display: flex;
    gap: 16px;
}
.footer-links a{
    color: #A8A8A8;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding: 8px;
}


.d-none{
    display: none;
}

.p-sticky{
    position: sticky;
}


@media(min-width: 700px){
    .login-window{
        width: 500px;
    }
    .footer-signup{
        display: none;
    }
    .header-signup{
        display: flex;
    }
    .login-window{
        padding: 48px;

    }
}

@media (max-width: 440px){
    .login-input-field{
        height: 48px;
        width: 200px;
    }
}