:root {
    --akzent: #29ABE2;
    --dark: #2A3647;
    --activeDark: #091931;
    --greytext: #CDCDCD;
    --hover: rgb(49, 64, 91);
  }

body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: rgb(247, 247, 247);
}

p{
    font-size: 16px;
}
h1{
    font-size: 61px;
    font-weight: 700;
}
h2{
    font-size: 47px;
    font-weight: 700;
}
h3{
    font-size: 27px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    background-color: #2a3647 ;
    color: white;
    border-radius: 8px;
    padding: 10px 16px;
    border: 0;
    width: 91px;
    height: 49px;
}

.animation{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F7F8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    animation: anim-background 0.5s ease-in 1 normal forwards;
}
.anim-logo{
    animation: anim-logo 1s ease-in 1 normal forwards;
}

/* ---------- Mobil Header ---------- */


.mobil-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
    
}
.mobil-header-user-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--dark);
    color: var(--akzent);
    font-size: 14px;
    font-weight: 700;
}
.mobil-header-user-icon:hover{
    cursor: pointer;
}
.mobil-header-submenu{
    background-color: var(--activeDark);
    border: 0;
    border-radius: 20px 0 20px 20px;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 65px;
    right: 10px;

}
.slide-in{
    animation: slide-left 0.2s ease 1 normal forwards;
}

.slide-out{
    animation: slide-right 0.2s ease 1 normal forwards;
}

.mobil-header-submenu-button{
    width: 100%;
    padding: 8px 16px;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #CDCDCD;
}
.mobil-header-submenu-button:hover{
    background-color: rgb(51, 63, 89);
}
.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 232px;
    background-color: var(--dark);
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.sidebar-buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 80px;
    width: 100%;
}
.sidebar-button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    gap: 8px;
    padding: 8px 56px;
    transition: all 200ms;
    width: 100%;
}
.sidebar-button:hover{
    background-color: var(--hover);
    cursor: pointer;
}


/* ---------- Desktop Header ---------- */
.desktop-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    background-color: white;
    height: 96px;
    margin-left: 232px;
}
.header-user-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--dark);
    color: var(--akzent);
    font-size: 14px;
    font-weight: 700;
}
.header-user-icon:hover{
    cursor: pointer;
}
.desktop-header-title{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--dark);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
}
.mobil-nav-button{
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    border: 0;
    color: var(--greytext);
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    height: 100%;
    width: 80px;
}
.mobil-nav-button:active{
    background-color: var(--activeDark);
}
.mobil-nav-button-icon{
    height: 24px;
}

.d-none{
    display: none;
}


@keyframes slide-left {
	0% {
		transform: translateX(180px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slide-right {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(180px);
        display: none;
	}
}

@keyframes anim-background {
    0% {


    }
    100% {
        background-color: transparent;
    }
}
@keyframes anim-logo {
    0% {
        scale: 1;
    }
    100% {
        scale: 0.25;
    }
}


@media(min-width: 700px){
    footer{
        display: none;
    }
    .content{
        margin-left: 232px;
        padding: 64px;
        overflow: hidden;
    }
    .mobil-header{
        display: none;
    }

}

@media (max-width: 699px){
    .sidebar{
        display: none;
    }
    .desktop-header{
        display: none;
    }
}